{
  "source": {
    "remote": "sftp_bedhost:",
    "exclude": [
      "logs/**",
      "cache/**"
    ]
  },
  "work": {
    "tempDir": "G:/BackupsMC",
    "syncDirName": "sync_dir",
    "localArchiveDir": "G:/BackupsMC/archives"
  },
  "retention": {
    "localKeep": 1,
    "remoteKeep": 7
  },
  "zip": {
    "compression": 2,
    "skipTest": false
  },
  "dependencies": {
    "sevenZip": {
      "windowsPath": "C:/Program Files/7-Zip/7z.exe",
      "linuxCommand": "7z"
    }
  },
  "discord": {
    "enabled": false,
    "webhooks": {
      "normalUrl": "",
      "alertUrl": ""
    },
    "identity": {
      "username": "Backup Minecraft",
      "avatarUrl": ""
    },
    "notifications": {
      "start": { "enabled": true },
      "success": { "enabled": true },
      "failure": { "enabled": true }
    },
    "mentions": {
      "onFailure": {
        "here": true,
        "roleId": ""
      }
    },
    "heartbeat": {
      "enabled": true,
      "intervalSeconds": 300
    },
    "failure": {
      "includeLastLogLines": 10
    },
    "behavior": {
      "failBackupOnDiscordError": false
    }
  },
  "destination": {
    "provider": "b2",

    "b2": {
      "remote": "backblaze:",
      "bucket": "",
      "prefix": "Backups/Minecraft"
    },

    "gdrive": {
      "remote": "gdrive:",
      "folder": "Backups/Minecraft"
    },

    "s3": {
      "remote": "s3remote:",
      "bucket": "",
      "prefix": "Backups/Minecraft"
    }
  }
}
